:root {
  --course-color: #33a9dc;
}

/*
  Estilo global
*/

.numeration {
  color: var(--course-color);
  border: solid 2px var(--course-color);
}

/*
  Componente de vídeo
*/

.conteudo {
  border-left: 5px solid var(--course-color);
}

.assistir {
  border: solid 2px var(--course-color);
  color: var(--course-color);
}

/*
  Porcentagem
*/

.progress-course div {
  width: 0%;
}
