:root {
  --white: #eaeaea;
  --gray1: #b3b0b8;
  --gray2: #7c7a80;
  --black1: #121212;
  --black2: #1e1f24;
  --black3: #2b2c33;
  --black4: #454652;
  --primary: #e33543;
  --course-color: #33a9dc;
}

/* Estilo global */
* {
  margin: 0px;
  padding: 0px;
  color: var(--white);
  font-family: "Roboto";
  overflow-x: hidden;
}
body {
  background-color: var(--black1);
}
main {
  margin: 0px auto;
  margin-top: 112px;
  max-width: 1170px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
} /* TITULO DO CURSO */
.course-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
}
.course-title svg {
  height: 46px;
  width: 41px;
  margin-right: 16px;
}
.course-title > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.course-title h1 {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}
.progress-course {
  width: 100%;
  background-color: var(--black4);
  height: 10px;
  border-radius: 15px;
}
.progress-course div {
  background-color: var(--gray2);
  height: 100%;
  width: 60%;
  border-radius: 15px;
} /* INFOS DO CURSO */
.title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 24px;
}
.title-container h3 {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
}
.numeration {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  color: var(--course-color);
  height: 32px;
  width: 32px;
  border: solid 2px var(--course-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 12px;
}

.title-container .options-container {
  display: flex;
  margin-left: 16px;
  align-items: center;
  justify-content: flex-start;
}

.title-container .novo-video {
  padding: 8px 16px;
  border: solid 1px var(--course-color);
  border-radius: 5px;
  color: var(--course-color);
  cursor: pointer;
  margin-right: 8px;
  transition: 0.2s;
}

.title-container .novo-video:hover {
  opacity: 0.8;
}

.title-container .deletar-categoria {
  padding: 8px 16px;
  border: solid 1px var(--primary);
  border-radius: 5px;
  color: var(--primary);
  cursor: pointer;
  transition: 0.2s;
}

.title-container .deletar-categoria:hover {
  opacity: 0.8;
}

/*
Componente de vídeo */
.conteudo {
  width: 420px;
  border-left: 5px solid var(--course-color);
  background: var(--black2);
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin-top: 16px;
}
.info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.info h1 {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  margin-bottom: 8px;
  color: var(--white);
}
.info p {
  color: var(--gray1);
  font-size: 14px;
}
.deletar {
  cursor: pointer;
  transition: 0.2s;
  width: 24px;
  height: 26px;
  overflow: hidden;
}

.deletar:hover {
  width: 26px;
  height: 28px;
}

.create-categoria {
  padding: 12px 18px;
  margin-top: 24px;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.create-categoria:hover {
  opacity: 0.8;
}

/* Responsividade */
@media (max-width: 1240px) {
  body {
    overflow-x: hidden;
  }
  main {
    margin: 0px auto;
    margin-top: 112px;
    max-width: 100%;
    width: 100%;
    padding: 0px 24px;
  }
}
@media (max-width: 512px) {
  main {
    overflow-x: hidden;
  }
  .conteudo {
    width: 75vw;
  }
}
